<form action="/" method="get">
  <label for="Add">Add a new task</label>
  <input type="text" id="task" name="task">
  <label for="Note">Add a task description</label>
  <input type="text" id="task" name="note">
  <button>Enter Task</button>
</form>