<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pig Latin</title>
</head>
<body>
  <form action="/pig" method="post">
    <input type="text" name="pig_text">
    <button>Pig Me!</button>
  </form>
</body>
</html>